@using System.Globalization
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.Common.Modals
@using TechBer.ChuyenDoiSo.Web.Areas.App.Models.LoaiDuAns
@model CreateOrEditLoaiDuAnModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLoaiDuAn")) : L("CreateNewLoaiDuAn")))

<div class="modal-body">
    <div id="LoaiDuAnInformationsTab">
        <form name="LoaiDuAnInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.LoaiDuAn.Id"/>
            }


            <div class="form-group">
                <label for="LoaiDuAn_Name">@L("Name")</label>
                <input class="form-control" id="LoaiDuAn_Name" value="@Model.LoaiDuAn.Name" type="text" name="name" required/>
            </div>


        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")