
<!--Thêm người-->
<button type="button" id="AddUserDuAnButton" class="btn btn-primary float-right mb-3" >
    <i class="la la-plus"></i> @L("AddMember")
</button>
<!--Danh sách -->
DS ở đấy
<div class="modal-footer">
    <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">@L("Close")</button>
</div>