<div class="kt-portlet kt-portlet--height-fluid BaoCaoChamDiemContainer">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                CHUYỂN ĐỔI SỐ CẤP TỈNH (PDTI)
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
         
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-12">
                <div class="bao-cao-tong-hop" >
                    <table id="bao-cao-tong-hop" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th scope="col">Nhóm tiêu chí</th>
                                <th scope="col">Điểm tự đánh giá</th>
                                <th scope="col">Điểm hội đồng thẩm định</th>
                                <th scope="col">Điểm đạt được</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>